<!DOCTYPE html>
<html lang="ru" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>ОЛОЛО</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.js"></script>
    <script type="text/javascript" src="../build/platform-statistic.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="RootController">
<div>
    <span ng-repeat="a in pages track by $index" style="padding:0 4px">
        <a href="#/{{a}}">{{a}}</a>
    </span>
</div>
<div ng-view></div>
<br>
<h4>Action via service</h4>
<button ng-click="click()">Click me</button>
<br>
<h4>Actions via directive</h4>

<button ps-category="cat1">Category</button>
<button ps-category="cat2" ps-action="action1">Category and Action</button>
<button ps-category="cat3" ps-action="action2" ps-name="name1">Category and Action and Name</button>
<button ps-category="cat4" ps-action="action3" ps-value="value1">Category and Action and Value</button>
<button ps-category="cat5" ps-action="action4" ps-name="name2" value="2">Category and Action and Name and Value</button>

</body>
</html>
